body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    div{
        margin: 20px 0;
        a{
            

            i{
                font-size: 2em;
            }
        }
    }
    img{
        height: 50%;
        width: 50%;
    }
}