@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --white:#fff;
  --white2:#fff;
  --black:#333;
  --black2:rgb(75, 74, 74);
}

.darkMode {
  --white:#333;
  --white2:#444;
  --black:#fff;
  --black2:#444;
}

body {
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  position: relative;
}

.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background-color: var(--white2);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main.active {
  left: 0;
  width: 100%;
}

.main .topBar {
  position: fixed;
  top: 0;
  left: 300px;
  width: calc(100% - 300px);
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 40px;
  z-index: 10000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-bottom: solid 1px rgba(10, 3, 3, 0.2);
  background-color: var(--white);
}

.main .topBar.active {
  left: 0;
  width: calc(100%);
}

.main .topBar .logo {
  position: relative;
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.main .topBar #toggle {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.main .topBar #toggle::before {
  content: '';
  position: absolute;
  top: 7px;
  width: 100%;
  height: 2px;
  background: var(--black);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main .topBar #toggle::after {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 100%;
  height: 2px;
  background: var(--black);
}

.main .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.main .banner .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .banner .content .imgBox {
  display: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.main .banner .content .imgBox img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .banner .content h2 {
  color: var(--black);
  font-size: 2.5em;
}

.main .banner .content h2 span {
  color: var(--black);
  font-size: 1.2em;
}

.main .banner .content p {
  font-size: 1.2em;
  color: var(--black);
  font-weight: 300;
}

.main .banner .content .btn {
  position: relative;
  display: inline-block;
  width: 210px;
  margin-top: 20px;
  background: var(--black2);
  color: white;
  padding: 10px 30px;
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main .banner .content .btn:hover {
  background: var(--black);
}

.main .banner .content .socialMedia {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  color: var(--black);
}

.main .banner .content .socialMedia li {
  list-style: none;
}

.main .banner .content .socialMedia li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--black);
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 1.2em;
}

.main .banner .content .socialMedia li a:hover {
  background: var(--black2);
  color: white;
}

.main .titre {
  text-align: center;
  width: 100%;
  color: var(--black);
}

.main .titre h2 {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2em;
  margin-bottom: 30px;
}

.main .titre h2::before {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -10px;
  width: 50px;
  height: 1px;
  background: var(--black);
}

.main .aPropos {
  position: relative;
  min-height: 100vh;
  padding: 0 40px;
  padding-top: 80px;
  color: var(--black);
  display: inline-block;
}

.main .aPropos .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.main .aPropos .content .textBox {
  width: 49%;
  min-width: 49%;
}

.main .aPropos .content .imgBox {
  margin-left: 40px;
}

.main .aPropos .content .imgBox img {
  max-width: 100%;
  border-radius: 20px;
}

.main .services {
  color: var(--black);
  position: relative;
  min-height: 100vh;
  padding: 0 40px;
  padding-top: 80px;
}

.main .services .title {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .services .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin: 40px 0;
  gap: 20px;
}

.main .services .content .serviceBox {
  border: 1px solid rgba(20, 9, 9, 0.2);
  padding: 50px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 350px;
  min-width: 210px;
}

.main .services .content .serviceBox img {
  max-width: 50px;
}

.main .services .content .serviceBox h2 {
  font-size: 1.1em;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--black);
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.main .services .content .serviceBox p {
  text-align: center;
}

.main .portfolio {
  color: var(--black);
  padding: 0 40px;
  padding-top: 80px;
}

.main .portfolio .popupPortfolio {
  position: fixed;
  top: -150%;
  left: calc(50% + 150px);
  -webkit-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
  opacity: 0;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: inset 0px 0px 20px 5px rgba(255, 255, 255, 0.05);
          box-shadow: inset 0px 0px 20px 5px rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(30px);
  width: 450px;
  padding: 20px 30px;
  border-radius: 10px;
  z-index: 10000;
  -webkit-transition: top 0ms ease-in-out 300ms, opacity 300ms ease-in-out 0ms, width 0.5s, left 0.5s, -webkit-transform 300ms ease-in-out 0ms;
  transition: top 0ms ease-in-out 300ms, opacity 300ms ease-in-out 0ms, width 0.5s, left 0.5s, -webkit-transform 300ms ease-in-out 0ms;
  transition: top 0ms ease-in-out 300ms, opacity 300ms ease-in-out 0ms, transform 300ms ease-in-out 0ms, width 0.5s, left 0.5s;
  transition: top 0ms ease-in-out 300ms, opacity 300ms ease-in-out 0ms, transform 300ms ease-in-out 0ms, width 0.5s, left 0.5s, -webkit-transform 300ms ease-in-out 0ms;
}

.main .portfolio .popupPortfolio.visible {
  top: 50%;
  left: calc(50% + 150px);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in-out 0ms, width 0.5s, left 0.5s, -webkit-transform 300ms ease-in-out 0ms;
  transition: opacity 300ms ease-in-out 0ms, width 0.5s, left 0.5s, -webkit-transform 300ms ease-in-out 0ms;
  transition: opacity 300ms ease-in-out 0ms, transform 300ms ease-in-out 0ms, width 0.5s, left 0.5s;
  transition: opacity 300ms ease-in-out 0ms, transform 300ms ease-in-out 0ms, width 0.5s, left 0.5s, -webkit-transform 300ms ease-in-out 0ms;
}

.main .portfolio .popupPortfolio.visible.active {
  left: 50%;
  width: 600px;
}

.main .portfolio .popupPortfolio .popUpCloseBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  font-size: 18px;
  text-align: center;
  line-height: 25px;
  color: #fdfdfd;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

.main .portfolio .popupPortfolio h1 {
  font-size: 35px;
  text-align: center;
  margin: 10px 0px 20px;
  color: #fff;
}

.main .portfolio .popupPortfolio p {
  color: #fdfdfd;
  font-size: 17px;
}

.main .portfolio .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 40px 0;
}

.main .portfolio .content .slideBox {
  position: relative;
  border: 1px solid rgba(8, 5, 5, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 200px;
  min-width: 200px;
  max-height: 400px;
  max-width: 400px;
  overflow-y: hidden;
  cursor: pointer;
}

.main .portfolio .content .slideBox .imgBox img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.main .portfolio .content .slideBox .textBox {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--black);
  top: 100%;
  min-height: 100%;
  min-width: 100%;
  background-color: #31312e;
  -webkit-transition: top 0.5s , background-color 1s;
  transition: top 0.5s , background-color 1s;
}

.main .portfolio .content .slideBox:hover .textBox {
  position: absolute;
  top: 0;
  min-height: 100%;
  min-width: 100%;
}

.main .copyright {
  color: var(--black);
  position: relative;
  padding: 10px 40px;
  bottom: 0;
  text-align: center;
}

.darkMode #navigation .listes .texte a {
  color: var(--black);
}

.darkMode #navigation .colorMode::before {
  content: "\f185";
  color: white;
}

.darkMode #navigation .colorMode::after {
  content: "Switchez vers le mode claire.";
}

.darkMode .container .main .banner .content .btn {
  background: var(--white);
}

.darkMode .container .main .banner .content .btn:hover {
  background: #2196f2;
}

.darkMode .container .main .banner .content .socialMedia li a:hover {
  background: #2196f2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.darkMode .container .main .services .content .serviceBox {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.darkMode .container .main .services .content .serviceBox:hover {
  background: #2196f2;
}

.darkMode .container .main .services .content .serviceBox img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

#navigation {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100vh;
  background: var(--white);
  border-right: solid 1px rgba(19, 15, 15, 0.2);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  white-space: nowrap;
}

#navigation.active {
  left: 0;
  width: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#navigation .listes {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#navigation .listes .num {
  position: relative;
  color: var(--black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  min-width: 39px;
  height: 39px;
  border-radius: 50%;
  margin-right: 10px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#navigation .listes .num span {
  position: relative;
  font-size: 1.2em;
  font-weight: 600;
  color: var(--black);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#navigation .listes .texte {
  position: relative;
}

#navigation .listes .texte a {
  color: var(--black2);
  text-decoration: none;
  display: inline-block;
  font-size: 1.6em;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
}

#navigation .listes:hover .texte a {
  color: var(--black);
}

#navigation .listes::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background: rgba(128, 128, 128, 0.158);
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#navigation .listes:hover::before {
  width: 105%;
}

#navigation .colorMode {
  position: absolute;
  bottom: 10px;
  left: 40px;
  height: 30px;
  width: 30px;
  background: var(--black2);
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

#navigation .colorMode::before {
  content: '\f186';
  font-family: fontAwesome;
}

#navigation .colorMode::after {
  content: "Switchez vers le dark mode.";
  position: absolute;
  left: 40px;
  font-size: 0.7em;
  color: var(--black);
  white-space: nowrap;
  font-weight: 300;
  letter-spacing: 1px;
  pointer-events: none;
}

@media (max-width: 992px) {
  #navigation {
    left: 0;
    width: 0%;
    z-index: 10000;
  }
  #navigation.active {
    left: 0;
    width: 100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main .topBar {
    left: 0;
    width: 100%;
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }
  .main .topBar.active {
    left: 0;
    width: 100vw;
  }
  .main .banner .content h2 span {
    font-size: 0.6em;
  }
  .main .banner .content p {
    font-size: 1em;
    text-align: center;
    font-weight: 400;
  }
  .main .aPropos .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .aPropos .content .imgBox {
    margin-left: 0;
  }
  .main .aPropos .content .textBox {
    width: 100%;
    min-width: 100%;
  }
  .main .services .content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .main .portfolio .content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .main .portfolio .popupPortfolio {
    left: 50%;
  }
  .main .portfolio .popupPortfolio.visible {
    left: 50%;
  }
}

@media (max-width: 767px) {
  .main .services .content {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .main .portfolio .content {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .main .portfolio .popupPortfolio {
    left: 50%;
    width: 90%;
  }
  .main .portfolio .popupPortfolio.visible {
    width: 90%;
  }
}
/*# sourceMappingURL=styles.css.map */